/* CSS Document */
body
{
	margin: 0;
    padding: 0;
	font-family: 'Goldman', cursive;
}

/*HEADER*/
#header
{
	width: 100%;
	height: 70px;
	background-color: #111;
}

#nav img
{
	float: left;
	width: 125px;
	height: 70px;

}

#nav
{
	width: 100%;
	height: 70px;

}

.navs {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 15px;
}

#nav .navs:hover {
  border-bottom: 1px solid #41C6FF;
}

/*image + content*/
.body1
{
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
}

.body1 img
{
	width: 100%;
}

.ML
{
	display: block;
}

.centered 
{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	color: #fff;
}

.body1 button
{
	background-color: #FF3D3D;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

  /*news*/
.body2
{
	width: 100%;
	height: 500px;
	background-image: radial-gradient(purple 30%, #5e0380 70%);
	padding-top: 100px;
}

.body2cont
{
	width: 1500px;
	height: 400px;
	margin: 0 auto;
}

.content
{
	width: 748px;
	height: 396px;
	float: left;
	border-top: 2px solid #2d459c;
	border-bottom: 2px solid #2d459c;
	border-left: 2px solid #2d459c;
}

.title
{
	width: 750px;
	height: 100px;
	font-size: 65px;
	text-align: center;
	color: #59d3ff;
	padding-top: 25px;
}

.info
{
	width: 750px;
	height: 275px;
	text-align: center;
	font-size: 20px;
	color: #59d3ff;
}
  
.info a
{
	font-size: 30px;
	text-decoration: none;
	color: #c89b3c;
}

.info a:hover
{
	text-decoration: none;
	color: #333;
}

.newsimg
{
	width: 750px;
	height: 400px;
	float: left;
}

.newsimg img
{
	width: 100%;
	height: 400px;
}

/*CHAMP*/
.body3
{
	width: 100%;
	height: 800px;
	background-image: radial-gradient(#00c1c4 35%, #009c9e 65%);
}

.champ
{
	width: 60%;
	height: 800px;
	float: left;
}

.champ img
{
	width: 100%;
	height: 800px;
}

.champcont
{
	width: 38%;
	height: 800px;
	float: left;
	padding-left: 2%
}

.champcontbox
{
	width: 96%;
	height: 400px;
	margin-top: 200px;
	border-left: 8px solid #141e37;
	padding-left: 3%;
	color: #141e37;
}

.champcontbox h2
{
	font-size: 60px;
}

.body3 button
{
	background-color: #141e37;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 23px;
	margin: 4px 2px;
	cursor: pointer;
}

.body3 button:hover
{
	background-color: #999;
	color: #141e37;
}


/*FOOTER*/
footer
{
	width: 100%;
	height: 250px;
	background-color: #111;
	text-align: center;
	color: #666;
	padding-top: 10px;
}

footer img
{
	width: 150px;
	height: 110px;
}

.fa 
{
	padding: 10px;
	font-size: 30px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	margin: 0 10px;
	border-radius: 50%;
}
  
.fa:hover 
{
	opacity: 0.7;
}

.fa-facebook
{
	background: #666;
	color: #111;
}
  
.fa-twitter
{
	background: #666;
	color: #111;
}
  
.fa-youtube 
{
	background: #666;
	color: #111;
}
  
.fa-instagram 
{
	background: #666;
	color: #111;
}

/*responsive*/
@media only screen and (max-width: 1919px)
{
	.body2
	{
		width: 100%;
		height: 720px;
		padding: 0;
	}

	.body2cont
	{
		width: 100%;
		height: auto;
		
	}

	.content
	{
		width: 100%;
		height: auto;
		border-left: none;
	}

	.title
	{
		width: 100%;
		height: auto;
		font-size: 42px;
	}

	.info
	{
		width: 100%;
		height: auto;
	}

	.newsimg
	{
		width: 100%;
		height: auto;
	}
	
	
}

@media only screen and (max-width: 1000px)
{
	.centered
	{
		top: 50%;
		font-size: 17px;
	}

	.body1 button
	{
		padding: 10px 20px;
	}

	.body3
	{
		width: 100%;
		height: auto;
		background-image: radial-gradient(#00c1c4 35%, #009c9e 65%);
	}
	
	.champ
	{
		width: 100%;
		height: auto;
		background-color: #fff;
	}

	.champ img
	{
		width: 100%;
		height: auto;
	}

	.champcont
	{
		width: 100%;
		height: auto;
		text-align: center;
		padding: 0px;
		background-image: radial-gradient(#00c1c4 35%, #009c9e 65%);
		
	}

	.champcontbox
	{
		width: 100%;
		height: auto;
		border-left: none;
		margin: 0;
		padding: 0;
		padding-bottom: 10px;
	}


	footer
	{
		width: 100%;
		height: auto;
		padding-bottom: 5px;
	}
}

  